.formu{width: 60%;margin-left: 10%;}
.formu div{margin-top: 4%;}
h2{margin-left: 5%;font-size: x-large;}


.r{display: block;}
.t{font-size: large;color: #666;}
button{margin-bottom: 4%;background-color: #1259c3;border-color: #1259c3;color: white;}
