<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/cajitas.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 0,100; 0,300;
     0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900 & display = swap "rel =" stylesheet ">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="principio">
            <div class="a">
                <div class="a1">
                    <a href="/">
                        <img src="/img/logo-mercado-liebre.svg" alt="logo">
                    </a>
                </div>
                <div class="a2">
                    <nav class="a21">Buscar marcas,productos,etc</nav>
                    <div class="a22">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="b">  
                <div class="b2">
                    <i class="fas fa-hand-holding-usd"></i>
                </div> 
                <div class="b1">
                    <p class="b11">Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>      
        </div>
        </div>
        <div class="co">
            <div class="burger-menu">
                <a class="c1" href=""><i class="fas fa-bars"></i></a>
            </div>
        </div>
        <div class="c">
            <div class="c1">
                <p><a href="">Ofertas</a></p>
                <p><a href="">Tiendas Oficiales</a></p>
                <p><a href="">Vender</a></p>
                <p><a href="">Ayuda</a></p>        
            </div>
            <div class="c2">
                <div>
                    <p><a href="/register">Creá tu Cuenta</a></p>
                    <i class="far fa-id-card"></i>
                </div>
                <div>
                    <p><a href="/login">Ingresá</a></p>
                    <i class="fas fa-sign-in-alt"></i>
                </div>
                <div>
                    <p><a href="">Mi Canasto</a></p>
                    <i class="fas fa-shopping-basket"></i>
                </div>
            </div>
        </div>
    </header>

    <main>
        <h2 class="titular">Basado en tus últimas visitas</h2>
        <div class="w">
            <div class="w5">
                <img src="/img/img-cafetera-moulinex.jpg" alt="">
                <i class="fas fa-truck"></i>
                <p class="pre">$6.770</p>
                <p class="of">40% OFF</p>
                <p class="des">Cafetera Moulinex</p>
            </div>
            <div class="w6">
                <img src="/img/img-macbook-pro-2019.jpg" alt="">
                <i class="fas fa-truck"></i>
                <p class="pre">$230.000</p>
                <p class="of">20% OFF</p>
                <p class="des">MacBook Pro 2019</p>
            </div> 
            <div class="w7">   
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <i class="fas fa-truck"></i>
                <p class="pre">$70.500</p>
                <p class="of">10% OFF</p>
                <p class="des">Samsung Galaxy S10</p>
            </div>
            <div class="w8">
                <img src="/img/img-tv-samsung-smart.jpg" alt="">
                <i class="fas fa-truck"></i>
                <p class="pre">$23.200</p>
                <p class="of">5% OFF</p>
                <p class="des">Samsung SmartTV 40´´</p>
            </div>
        </div>
        <h2 class="titular">Ofertas</h2>
        <div class="w">
            <div class="w1">
                <img src="/img/img-cafetera-moulinex.jpg" alt="">
                <i class="fas fa-truck"></i>
                <p class="pre">$6.770</p>
                <p class="of">40% OFF</p>
                <p class="des">Cafetera Moulinex</p>
            </div>
            <div class="w2">    
                <img src="/img/img-macbook-pro-2019.jpg" alt="">
                <i class="fas fa-truck"></i>
                <p class="pre">$230.000</p>
                <p class="of">20% OFF</p>
                <p class="des">MacBook Pro 2019</p>
            </div>
            <div class="w3">    
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <i class="fas fa-truck"></i>
                <p class="pre">$70.500</p>
                <p class="of">10% OFF</p>
                <p class="des">Samsung Galaxy S10</p>
            </div>
            <div class="w4">    
                <img src="/img/img-tv-samsung-smart.jpg" alt="">
                <i class="fas fa-truck"></i>
                <p class="pre">$23.200</p>
                <p class="of">5% OFF</p>
                <p class="des">Samsung SmartTV 40´´</p>
            </div>
        </div>
    </main>

    <footer>
        <div class="f1">
            <div>
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con Tarjeta o en Efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="f2">    
            <div>
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un Beneficio de MercadoPuntos</p>
        </div>
        <div class="f3">
            <div>
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
        </div>
        <div class="f4">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div> 
    </footer>
</body>
</html>
